<header class="">
    <div class="max-w-4xl mx-auto px-4 py-3 flex items-center justify-between">
        <div class="text-2xl font-bold">
            <a href="/" class="flex items-center">
                <span class="mr-1">&lt;<span class="px-1 text-[#3d72d7]">/</span>&gt;</span>
                <span>htm<span class="text-[#3d72d7]">x</span></span>          </a>
        </div>
        <nav>
            <ul class="flex space-x-6">
                <li><a href="/docs" class="hover:text-gray-300">ドキュメント</a></li>
                <li><a href="/reference" class="hover:text-gray-300">リファレンス</a></li>
                <li><a href="/examples" class="hover:text-gray-300">例</a></li>
                <li><a href="/talk" class="hover:text-gray-300">トーク</a></li>
                <li><a href="/essays" class="hover:text-gray-300">エッセイ</a></li>
            </ul>
        </nav>
    </div>
</header>